@import "{{ site.theme }}";

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/yourfont.woff2') format('woff2'),
       url('/fonts/yourfont.woff') format('woff');
}

body {
  font-family: 'YourFontName', sans-serif;
}